@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  overflow-x: hidden;
  /* background: whitesmoke; */
  background: #F9F871;
}
*{
  box-sizing: border-box;
}
li {
  border: 2px solid black;
  list-style: none;
  padding: 10px;
  position: relative;
  height: 100%;
  overflow: hidden;
  position: relative;
}

ul {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  align-items: stretch;
  margin: 10px;
}

button {
  background-color: white;
  border: 1px solid;
  color: black;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
 }

button:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.5), 0 10px 10px 0 rgba(0,0,0,0.19);
 }